/* ====== ESTRUCTURA GENERAL ====== */
.giscopnsc_page {
  width: 95%;
  margin: 0 auto;
}

/* ====== SECCIÓN SUPERIOR: PDF + TEXTO ====== */
.giscopnsc_header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  gap: 3rem;
  margin-bottom: 3rem;
  margin-top: 0.5rem;
}

/* ====== PDF ====== */
.giscopnsc_pdf_container {
  background: #f3f3f3;
  padding: 1rem;
  margin: auto 0 ;
  border-radius: 0.8rem;
  box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.15);
}

.giscopnsc_pdf {
  border-radius: 0.5rem;
}

.pagination_controls {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.pagination_controls button {
  padding: 0.6rem 1rem;
  background: #1b326b;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 600;
}

.pagination_controls button:disabled {
  background: #9ea5b8;
  cursor: not-allowed;
}

/* ====== INFORMACIÓN DEL CURSO ====== */
.giscopnsc_info {
  text-align: center;
}

.giscopnsc_icon {
  width: 4rem;
  margin-bottom: 1rem;
}

.giscopnsc_title {
  font-size: 1.7rem;
  font-weight: 800;
  color: #464a5e;
  line-height: 1.3;
  margin-bottom: 1rem;
}

.giscopnsc_description {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #4b4b4b;
  text-align: justify;
}

/* ====== BOTONES ====== */
.button_group {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.btn_primary {
  background: #0f2a63;
  color: #ffffff;
  padding: 1rem 2rem;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 0.6rem;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 0.7rem 1.6rem rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}

.btn_primary:hover {
  background: #081a3f;
  transform: translateY(-2px);
}

/* ====== RESPONSIVE ====== */
@media (max-width: 900px) {
  .giscopnsc_header {
    grid-template-columns: 1fr;
  }

  .button_group {
    flex-direction: column;
    gap: 1rem;
  }

  .btn_primary {
    width: 100%;
    text-align: center;
  }
}
